

.i {
    font-family: Calibri;
}



.navbar {
    width: 60%; /* 60% + 20% right + 20% left*/
    display: inline-block;
    text-align: center;
    float: none;
    background-color: #060606;
    overflow: auto;
    left: 20%;
    right: 20%;
    font-family: Calibri;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #666666;
}

.active {
    background-color: #666666;
}



.footer {
    margin-top:-3px;
    line-height: 1px;
    font-size: 1em;
    text-align: center;
}

hr {

    border: none;
    height: 1px;
    background: black;
}