
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>></head>

<body>
    <div th:fragment="footer">
        <div class="container">
            <footer class="footer">
                <hr width="80%"> <!-- the visible horizontal line will cover 80% of the screen -->
                <!-- copyright -->
                <div class="footer-copyright text-center py-3">
                    <strong>© Copyright: iXpert Technologies</strong>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>