
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:fragment="header-css">
       <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}">
       <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.10.1/css/font-awesome.min.css}">
       <link rel="stylesheet" type="text/css" th:href="@{test1.css}" >
       <script type="text/javascript" th:src="@{/webjars/jquery/3.4.0/dist/jquery.min.js}"></script>
       <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
       <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.min.js}"></script>
   </div>
</head>
<body>
    <div th:fragment="header">
        <!--nav class="navbar navbar-expand-sm bg-dark navbar-dark" -->
        <nav class="navbar navbar-dark bg-dark" role="navigation">
            <!-- brand -->
            <a class="navbar-brand" href="#"> © iRegister </a>
            <a href="#" class="btn btn-light -pull-right"> <span class="fas fa-sign-in-alt"></span> Login </a>
        </nav>
    </div>
</body>
</html>