

.i {
    font-family: Arial, Helvetica, sans-serif;
}



.navbar {
    width: 60%; /* 60% + 20% right + 20% left*/
    display: inline-block;
    text-align: center;
    float: none;
    background-color: #060606;
    overflow: auto;
    left: 20%;
    right: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: darkgreen;
}

.active {
    background-color: grey;
}


.footer {
    position: center;
    line-height: 1px;
    font-size: 1em;
    text-align: center;
    /* margin-top: -1px; */
}

hr {
    border: none;
    height: 1px;
    background: black;
}

.ul a:hover{
    background-color: darkgreen;
}

.container {
    height: 85vh; /* 85% of vertical height will be for the page while the rest 15% are for the footer */
    width: 60%;
}